nz-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: .75rem;
}

nz-list {
  flex: 1;
  overflow-y: auto;
  min-height: 60vh;
  padding-right: 8px;
}

nz-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

nz-list-item-meta {
  overflow-wrap: break-word;
}

input[nz-input] {
  flex: 1;
}

.chat-input-container {
  display: flex;
  margin-top: 1em;
  gap: 0.5em;
}

.side-by-side-container {
  display: flex;
  gap: 1rem;
}

app-mp-lobby-info {
  width: 50%;
}

.message-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.chat-timestamp {
  margin-left: 8px;
  white-space: nowrap;
}