<div class="side-by-side-container">
  <nz-card [nzTitle]="'Chat | '+channel" style="width: 30%;">
    <nz-list [nzBordered]="false" style="max-height: 70vh; overflow-y: auto;" #scrollContainer>
      <nz-list-item *ngFor="let message of messages">
        <ng-template #profileName>
          <a [href]="'https://osu.ppy.sh/users/'+message.nick" target="_blank">
            {{message.nick}}
          </a>
        </ng-template>
        <nz-list-item-meta [nzTitle]="profileName" [nzDescription]="message.message">
        </nz-list-item-meta>
        <div>{{ message.time | date: 'shortTime' }}</div>
      </nz-list-item>
    </nz-list>

    <div class="chat-input-container">
      <input nz-input [(ngModel)]="newMessage" placeholder="Type a message" (keyup.enter)="sendMessage()"
        [disabled]="disableInput" />
      <button nz-button nzType="primary" (click)="sendMessage()" [disabled]="disableInput">
        Send
      </button>
    </div>
  </nz-card>
  <ng-container *ngIf="channel?.startsWith('#mp_')">
    @let matchID = channel!.substring(4);
    <div style="display: flex; flex-direction: row; width: 70%;">
      <app-mp-lobby-info [matchID]="matchID" style="width: 100%;"></app-mp-lobby-info>
      <app-match-info [matchID]="matchID" style="width: 100%;"></app-match-info>

    </div>
  </ng-container>
</div>